body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: navy;  
    color: white;  
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/Camp-Nou-3.webp) no-repeat center/cover;
    opacity: 0.2;
    animation: moveBackground 30s linear infinite;
    z-index: -1;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

header {
    background-color: crimson;  
    padding: 10px 0;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.header-logo {
    height: 50px;                     /* Adjust logo size */
    position: absolute;               /* Position it in the center */
    left: 50%;
    transform: translateX(-50%);      /* Center the logo */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: goldenrod;
    margin-left: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: goldenrod;  
}

.burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: crimson;  
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    #menu-toggle:checked + .burger-menu + .nav-links {
        display: flex;
    }

    .header-logo {
        height: 40px;                 /* Adjust size for smaller screens */
    }
    .logo {
        display: none;
    }
}


.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, crimson, navy);
    animation: fadeIn 2s ease-in-out;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: goldenrod;
}

.hero p {
    font-size: 1.5rem;
}

.trophies {
    padding: 40px 20px;
    text-align: center;
}

.trophies h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: goldenrod;
}

.trophy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.trophy img {
    width: 150px;
    height: auto;
    transition: transform 0.5s;
    background-color: white;  
}

.trophy img:hover {
    transform: scale(1.1);
}

footer {
    background-color: crimson;
    text-align: center;
    padding: 10px;
    margin-top: 104px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
